---
Language: Cpp

BasedOnStyle: Google
Standard: Latest

ColumnLimit: 100

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 8
UseTab: Never

AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Pointer
QualifierAlignment: Right

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true

AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: NextLine

NamespaceIndentation: None

IncludeBlocks: Regroup
SortIncludes: true

IncludeCategories:
  - Regex: "^<.*>"
    Priority: 1
  - Regex: ".*/.*"
    Priority: 2
  - Regex: ".*"
    Priority: 3

MaxEmptyLinesToKeep: 1

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true

ReflowComments: true
InsertNewlineAtEOF: true
